#### import necesary packages

In [343]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import datetime as dt

In [344]:
pd.set_option('display.max_column', 100)
dataset = pd.read_csv('salary,satisfaction.csv', engine = 'python' )
dataset.head(2)

,id,Target_Salary,Target_Satisfied,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,Additional Information,To Apply,Hours/Shift,Residency Requirement,Posting Date,Posting Updated,Process Date,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,HopeFiveYears,JobSearchStatus,LastNewJob,UpdateCV,CommunicationTools,TimeFullyProductive,EducationTypes,SelfTaughtTypes,TimeAfterBootcamp,HackathonReasons,AgreeDisagree1,AgreeDisagree2,AgreeDisagree3,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,IDE,OperatingSystem,Methodology,VersionControl,CheckInCode,AIDangerous,AIInteresting,AIResponsible,AIFuture,Age,term,loan_status,pymnt_plan,orignal_website_directory,purpose,title,zip_code,addr_state,dti,earliest_cr_line,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,Time,emp_length,your_favoritearticle_today,url,Email,homeaddress,latitude,longitude,PHONE,officeaddress,website,dateAdded,previousaddress,phones,CrimeTime
0,68407277,42405.0,0,"$3,600.00",Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,â€¢\tExcellent interpersonal and organizationa...,"Salary range for this position is: $42,405 - $...",NaN,NaN,New York City residency is generally required ...,2011-06-24T00:00:00.000,2011-06-24T00:00:00.000,2019-12-17T00:00:00.000,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,3-5 years,3-5 years,Working as a founder or co-founder of my own c...,"I’m not actively looking, but I am open to new...",Less than a year ago,My job status or other personal status changed,Slack,One to three months,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,NaN,To build my professional network,Strongly agree,Strongly agree,Neither Agree nor Disagree,JavaScript;Python;HTML;CSS,JavaScript;Python;HTML;CSS,Redis;SQL Server;MySQL;PostgreSQL;Amazon RDS/A...,Redis;SQL Server;MySQL;PostgreSQL;Amazon RDS/A...,AWS;Azure;Linux;Firebase,AWS;Azure;Linux;Firebase,Django;React,Django;React,Komodo;Vim;Visual Studio Code,Linux-based,Agile;Scrum,Git,Multiple times per day,Artificial intelligence surpassing human intel...,Algorithms making important decisions,The developers or the people creating the AI,I'm excited about the possibilities more than ...,25 - 34 years old,36 months,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,190xx,PA,5.91,3-Aug,19-Jan,122.67,NaN,19-Mar,3/22/2016 9:51,< 1 year,https://www.reuters.com/article/us-tesla-crash...,nobell.it/70ffb52d079109dca5664cce6f317373782/...,mstephenson@fernandez.com,"346 W Magnolia Ave Auburn, AL 36832 US",32.606813,-85.487328,(91) 555 22 82,"PO Box 4653, Stockton, California, 95204",http://www.valleybrew.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,23:30:00
1,68355089,60740.0,1,"$24,700.00","EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,NaN,NaN,"In addition to applying through this website, ...",NaN,New York City residency is generally required ...,2012-01-26T00:00:00.000,2012-01-26T00:00:00.000,2019-12-17T00:00:00.000,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,30 or more years,18-20 years,Working in a different or more specialized tec...,I am actively looking for a job,More than 4 years ago,I saw an employer’s advertisement,Confluence;Office / productivity suite (Micros...,One to three months,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,NaN,NaN,Agree,Agree,Neither Agree nor Disagree,JavaScript;Python;Bash/Shell,Go;Python,Redis;PostgreSQL;Memcached,PostgreSQL,Linux,Linux,Django,React,IPython / Jupyter;Sublime Text;Vim,Linux-based,NaN,Git;Subversion,A few times per week,Increasing automation of jobs,Increasing automation of jobs,The developers or the people creating the AI,I'm excited about the possibilities more than ...,35 - 44 years old,36 months,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,Business,577xx,SD,16.06,Dec-99,16-Jun,926.35,NaN,19-Mar,3/22/2016 10:08,NaN,https://www.irishtimes.com/business/economy/un...,www.dghjdgf.com/paypal.co.uk/cycgi-bin/webscrc...,hduke@hotmail.com,"300 20th St S Birmingham, AL 35233 US",33.509722,-86.802756,NaN,"157 Adams St., Stockton, California, 95204",http://www.valleybrew.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,23:00:00

### Exploratory Data Analysis

In [278]:
 dataset = dataset.dropna(thresh = len(dataset)*0.8, axis =1)

In [279]:
dataset.shape

(2946, 52)

In [346]:
dataset['Target_Satisfied'].value_counts()

0    2327
1     619
Name: Target_Satisfied, dtype: int64

In [280]:
columns = dataset.columns

In [281]:
for feature in dataset.columns:
    print('The feature is {} and number of categories are {}'.format(feature,len(dataset[feature].unique())))

The feature is id and number of categories are 2946
The feature is Target_Salary and number of categories are 519
The feature is Target_Satisfied and number of categories are 2
The feature is LOAN_AMT and number of categories are 492
The feature is Business Title and number of categories are 1244
The feature is Civil Service Title and number of categories are 312
The feature is Division/Work Unit and number of categories are 678
The feature is Job Description and number of categories are 1608
The feature is Minimum Qual Requirements and number of categories are 337
The feature is Preferred Skills and number of categories are 1283
The feature is To Apply and number of categories are 894
The feature is Residency Requirement and number of categories are 51
The feature is Posting Date and number of categories are 494
The feature is Posting Updated and number of categories are 488
The feature is Process Date and number of categories are 2
The feature is FormalEducation and number of categories are 10
The feature is UndergradMajor and number of categories are 13
The feature is CompanySize and number of categories are 8
The feature is DevType and number of categories are 811
The feature is YearsCoding and number of categories are 12
The feature is YearsCodingProf and number of categories are 12
The feature is HopeFiveYears and number of categories are 8
The feature is JobSearchStatus and number of categories are 4
The feature is LastNewJob and number of categories are 6
The feature is LanguageWorkedWith and number of categories are 1579
The feature is IDE and number of categories are 840
The feature is OperatingSystem and number of categories are 5
The feature is term and number of categories are 2
The feature is loan_status and number of categories are 6
The feature is pymnt_plan and number of categories are 1
The feature is orignal_website_directory and number of categories are 2946
The feature is purpose and number of categories are 12
The feature is title and number of categories are 13
The feature is zip_code and number of categories are 629
The feature is addr_state and number of categories are 49
The feature is dti and number of categories are 1898
The feature is earliest_cr_line and number of categories are 426
The feature is last_pymnt_d and number of categories are 39
The feature is last_pymnt_amnt and number of categories are 2678
The feature is last_credit_pull_d and number of categories are 40
The feature is Time and number of categories are 698
The feature is your_favoritearticle_today and number of categories are 2946
The feature is url and number of categories are 2946
The feature is homeaddress and number of categories are 2630
The feature is latitude and number of categories are 2630
The feature is longitude and number of categories are 2630
The feature is officeaddress and number of categories are 2332
The feature is website and number of categories are 1370
The feature is dateAdded and number of categories are 37
The feature is previousaddress and number of categories are 48
The feature is phones and number of categories are 46
The feature is CrimeTime and number of categories are 754

In [282]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2946 entries, 0 to 2945
Data columns (total 52 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          2946 non-null   int64
 1   Target_Salary               2946 non-null   float64
 2   Target_Satisfied            2946 non-null   int64
 3   LOAN_AMT                    2946 non-null   object
 4   Business Title              2946 non-null   object
 5   Civil Service Title         2946 non-null   object
 6   Division/Work Unit          2946 non-null   object
 7   Job Description             2946 non-null   object
 8   Minimum Qual Requirements   2926 non-null   object
 9   Preferred Skills            2553 non-null   object
 10  To Apply                    2945 non-null   object
 11  Residency Requirement       2942 non-null   object
 12  Posting Date                2942 non-null   object
 13  Posting Updated             2942 non-null   object
 14  Process Date                2942 non-null   object
 15  FormalEducation             2894 non-null   object
 16  UndergradMajor              2624 non-null   object
 17  CompanySize                 2946 non-null   object
 18  DevType                     2901 non-null   object
 19  YearsCoding                 2943 non-null   object
 20  YearsCodingProf             2538 non-null   object
 21  HopeFiveYears               2477 non-null   object
 22  JobSearchStatus             2511 non-null   object
 23  LastNewJob                  2499 non-null   object
 24  LanguageWorkedWith          2447 non-null   object
 25  IDE                         2360 non-null   object
 26  OperatingSystem             2377 non-null   object
 27  term                        2946 non-null   object
 28  loan_status                 2946 non-null   object
 29  pymnt_plan                  2946 non-null   object
 30  orignal_website_directory   2946 non-null   object
 31  purpose                     2946 non-null   object
 32  title                       2882 non-null   object
 33  zip_code                    2946 non-null   object
 34  addr_state                  2946 non-null   object
 35  dti                         2946 non-null   float64
 36  earliest_cr_line            2946 non-null   object
 37  last_pymnt_d                2946 non-null   object
 38  last_pymnt_amnt             2946 non-null   float64
 39  last_credit_pull_d          2946 non-null   object
 40  Time                        2946 non-null   object
 41  your_favoritearticle_today  2945 non-null   object
 42  url                         2946 non-null   object
 43  homeaddress                 2629 non-null   object
 44  latitude                    2629 non-null   float64
 45  longitude                   2629 non-null   float64
 46  officeaddress               2407 non-null   object
 47  website                     2399 non-null   object
 48  dateAdded                   2946 non-null   object
 49  previousaddress             2946 non-null   object
 50  phones                      2946 non-null   object
 51  CrimeTime                   2946 non-null   object
dtypes: float64(5), int64(2), object(45)
memory usage: 1.2+ MB

In [283]:
nullvalues = dataset.isnull().sum()
print(nullvalues.head(52))

id                              0
Target_Salary                   0
Target_Satisfied                0
LOAN_AMT                        0
Business Title                  0
Civil Service Title             0
Division/Work Unit              0
Job Description                 0
Minimum Qual Requirements      20
Preferred Skills              393
To Apply                        1
Residency Requirement           4
Posting Date                    4
Posting Updated                 4
Process Date                    4
FormalEducation                52
UndergradMajor                322
CompanySize                     0
DevType                        45
YearsCoding                     3
YearsCodingProf               408
HopeFiveYears                 469
JobSearchStatus               435
LastNewJob                    447
LanguageWorkedWith            499
IDE                           586
OperatingSystem               569
term                            0
loan_status                     0
pymnt_plan                      0
orignal_website_directory       0
purpose                         0
title                          64
zip_code                        0
addr_state                      0
dti                             0
earliest_cr_line                0
last_pymnt_d                    0
last_pymnt_amnt                 0
last_credit_pull_d              0
Time                            0
your_favoritearticle_today      1
url                             0
homeaddress                   317
latitude                      317
longitude                     317
officeaddress                 539
website                       547
dateAdded                       0
previousaddress                 0
phones                          0
CrimeTime                       0
dtype: int64

In [284]:
dataset.head(1)

,id,Target_Salary,Target_Satisfied,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,To Apply,Residency Requirement,Posting Date,Posting Updated,Process Date,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,HopeFiveYears,JobSearchStatus,LastNewJob,LanguageWorkedWith,IDE,OperatingSystem,term,loan_status,pymnt_plan,orignal_website_directory,purpose,title,zip_code,addr_state,dti,earliest_cr_line,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,Time,your_favoritearticle_today,url,homeaddress,latitude,longitude,officeaddress,website,dateAdded,previousaddress,phones,CrimeTime
0,68407277,42405.0,0,"$3,600.00",Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,â€¢\tExcellent interpersonal and organizationa...,NaN,New York City residency is generally required ...,2011-06-24T00:00:00.000,2011-06-24T00:00:00.000,2019-12-17T00:00:00.000,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,3-5 years,3-5 years,Working as a founder or co-founder of my own c...,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;Python;HTML;CSS,Komodo;Vim;Visual Studio Code,Linux-based,36 months,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,190xx,PA,5.91,3-Aug,19-Jan,122.67,19-Mar,3/22/2016 9:51,https://www.reuters.com/article/us-tesla-crash...,nobell.it/70ffb52d079109dca5664cce6f317373782/...,"346 W Magnolia Ave Auburn, AL 36832 US",32.606813,-85.487328,"PO Box 4653, Stockton, California, 95204",http://www.valleybrew.com/,2016-04-22T02:47:48Z,1045 San Pablo Ave,(510) 528-2375,23:30:00

### Data Preparation

* Droping unnecessary columns using drop function

In [285]:
dataset.drop(['id','your_favoritearticle_today','url','latitude','longitude', 'officeaddress','homeaddress','zip_code','pymnt_plan',
              'YearsCodingProf', 'orignal_website_directory','Process Date','Process Date','Posting Updated',
             'website','dateAdded','phones','Time'],axis=1,inplace=True)
dataset.head(2)

,Target_Salary,Target_Satisfied,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,To Apply,Residency Requirement,Posting Date,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,HopeFiveYears,JobSearchStatus,LastNewJob,LanguageWorkedWith,IDE,OperatingSystem,term,loan_status,purpose,title,addr_state,dti,earliest_cr_line,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,previousaddress,CrimeTime
0,42405.0,0,"$3,600.00",Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,â€¢\tExcellent interpersonal and organizationa...,NaN,New York City residency is generally required ...,2011-06-24T00:00:00.000,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,3-5 years,Working as a founder or co-founder of my own c...,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;Python;HTML;CSS,Komodo;Vim;Visual Studio Code,Linux-based,36 months,Fully Paid,debt_consolidation,Debt consolidation,PA,5.91,3-Aug,19-Jan,122.67,19-Mar,1045 San Pablo Ave,23:30:00
1,60740.0,1,"$24,700.00","EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,NaN,"In addition to applying through this website, ...",New York City residency is generally required ...,2012-01-26T00:00:00.000,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,30 or more years,Working in a different or more specialized tec...,I am actively looking for a job,More than 4 years ago,JavaScript;Python;Bash/Shell,IPython / Jupyter;Sublime Text;Vim,Linux-based,36 months,Fully Paid,small_business,Business,SD,16.06,Dec-99,16-Jun,926.35,19-Mar,1045 San Pablo Ave,23:00:00

 * loan amount is in string formate converting that in to numeric

In [288]:
dataset['LOAN_AMT'] = dataset.LOAN_AMT.str[1:]
dataset['LOAN_AMT'] = (dataset['LOAN_AMT'].str.split(',', n=1, expand = True)[0] + dataset['LOAN_AMT'].str.split(',', n=1, expand = True)[1]).astype('float')

* posting date column is in string formate converting that in to date time format using 'to_datetime'

In [289]:
import datetime as dt

In [290]:
dataset['Posting Date'] = pd.to_datetime(dataset['Posting Date'])
dataset['Posting_Date'] =dataset['Posting Date'].dt.date;
dataset['Posting_Date_year'] = (dataset['Posting Date'].dt.month)
dataset['Posting_Date_year']

0        6.0
1        1.0
2       10.0
3       10.0
4        1.0
        ...
2941    12.0
2942    12.0
2943    12.0
2944    12.0
2945    12.0
Name: Posting_Date_year, Length: 2946, dtype: float64

* companysize column is in string value we extract the size of the company and converting into numeric value using 'to_numeric'

In [291]:
dataset['CompanySize'] =dataset['CompanySize'].str.split(" ", expand =True)[2]
dataset['CompanySize'] =dataset['CompanySize'].str.split(',', expand = True)[0]+dataset['CompanySize'].str.split(',', expand = True)[1].replace(np.nan, str(' '))
dataset['CompanySize'] = dataset['CompanySize'].replace('more ', 1000)
dataset['CompanySize'] = pd.to_numeric(dataset['CompanySize'])

* from string value extract the year of coding and converting that in to numeric

In [292]:
dataset['YearsCoding']
dataset['YearsCoding'] = dataset['YearsCoding'].str.split('-| | ', expand = True)[0]
dataset['YearsCoding'] = pd.to_numeric(dataset['YearsCoding'])

In [293]:
dataset['last_pymnt_month'] = dataset['last_pymnt_d'].str.split('-', expand = True)[1]
dataset['last_pymnt_month']

0       Jan
1       Jun
2       Jun
3       Feb
4       Jul
       ...
2941    Mar
2942    Nov
2943    Mar
2944    Dec
2945    Feb
Name: last_pymnt_month, Length: 2946, dtype: object

In [294]:
dataset['earliest_cr_line_month'] = dataset['earliest_cr_line'].str.split('-', expand = True)[1]
dataset['last_credit_pull_month'] = dataset['last_credit_pull_d'].str.split('-', expand = True)[1]
dataset['last_credit_pull_month']

0       Mar
1       Mar
2       Mar
3       Mar
4       Mar
       ...
2941    Mar
2942    Mar
2943    Mar
2944    Dec
2945    Mar
Name: last_credit_pull_month, Length: 2946, dtype: object

* convrting term to numeric and time to datatime format

In [295]:
dataset['term'] = dataset['term'].str.split(' ', expand = True)[1]
dataset['term'] = pd.to_numeric(dataset['term'])

In [296]:
dataset.head(3)

,Target_Salary,Target_Satisfied,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,To Apply,Residency Requirement,Posting Date,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,HopeFiveYears,JobSearchStatus,LastNewJob,LanguageWorkedWith,IDE,OperatingSystem,term,loan_status,purpose,title,addr_state,dti,earliest_cr_line,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,previousaddress,CrimeTime,Posting_Date,Posting_Date_year,last_pymnt_month,earliest_cr_line_month,last_credit_pull_month
0,42405.00,0,3600.0,Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,â€¢\tExcellent interpersonal and organizationa...,NaN,New York City residency is generally required ...,2011-06-24,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,99,Full-stack developer,3.0,Working as a founder or co-founder of my own c...,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;Python;HTML;CSS,Komodo;Vim;Visual Studio Code,Linux-based,36,Fully Paid,debt_consolidation,Debt consolidation,PA,5.91,3-Aug,19-Jan,122.67,19-Mar,1045 San Pablo Ave,23:30:00,2011-06-24,6.0,Jan,Aug,Mar
1,60740.00,1,24700.0,"EXECUTIVE DIRECTOR, BUSINESS DEVELOPMENT",ADMINISTRATIVE BUSINESS PROMOT,Tech Talent Pipeline,The New York City Department of Small Business...,1. A baccalaureate degree from an accredited c...,NaN,"In addition to applying through this website, ...",New York City residency is generally required ...,2012-01-26,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...",1000,Database administrator;DevOps specialist;Full-...,30.0,Working in a different or more specialized tec...,I am actively looking for a job,More than 4 years ago,JavaScript;Python;Bash/Shell,IPython / Jupyter;Sublime Text;Vim,Linux-based,36,Fully Paid,small_business,Business,SD,16.06,Dec-99,16-Jun,926.35,19-Mar,1045 San Pablo Ave,23:00:00,2012-01-26,1.0,Jun,99,Mar
2,51907.68,0,20000.0,Maintenance Worker - Technical Services-Heatin...,MAINTENANCE WORKER,Management Services Department,"Under direct supervision, assist in the routin...",1. Three years of full-time satisfactory exper...,1. A High School Diploma or GED. 2. CDL Dri...,"Click the ""Apply Now"" button.",NYCHA has no residency requirements.,2013-10-24,Associate degree,"Computer science, computer engineering, or sof...",99,Engineering manager;Full-stack developer,24.0,Working as a founder or co-founder of my own c...,"I’m not actively looking, but I am open to new...",Less than a year ago,NaN,NaN,NaN,60,Fully Paid,home_improvement,NaN,IL,10.78,Aug-00,17-Jun,15813.30,19-Mar,1045 San Pablo Ave,22:53:00,2013-10-24,10.0,Jun,00,Mar

* filling the nan(not a number) values 
* for categorical data using 'mode'
* for numerical data using 'median'

In [297]:
dataset['Minimum Qual Requirements'].fillna('missing', inplace =True)
dataset['Preferred Skills'].fillna('missing', inplace =True)
dataset['To Apply'].fillna('missing', inplace =True)
dataset['Residency Requirement'].fillna('missing', inplace =True)
dataset['Posting Date'].fillna(pd.to_datetime('2019-11-01'), inplace =True)
dataset['UndergradMajor'].fillna('Computer science, computer engineering, or software engineering', inplace =True)

dataset['YearsCoding'].fillna(dataset['YearsCoding'].median(), inplace =True)
dataset['DevType'].fillna('Full-stack developer', inplace =True)
dataset['HopeFiveYears'].fillna("Working in a different or more specialized technical role than the one I'm in now", inplace =True)
dataset['JobSearchStatus'].fillna('I’m not actively looking, but I am open to new opportunities', inplace =True)
dataset['LastNewJob'].fillna('Less than a year ago', inplace =True)
dataset['LanguageWorkedWith'].fillna('C#;JavaScript;SQL;HTML;CSS', inplace =True)
dataset['IDE'].fillna('Visual Studio;Visual Studio Code', inplace =True)
dataset['OperatingSystem'].fillna('Windows', inplace =True)
dataset['title'].fillna('Debt consolidation', inplace =True)
dataset['FormalEducation'].fillna('Bachelor’s degree (BA, BS, B.Eng., etc.)', inplace =True)
dataset['Posting_Date_year'].fillna(11, inplace =True)

In [298]:
dataset.head(1)

,Target_Salary,Target_Satisfied,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,To Apply,Residency Requirement,Posting Date,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,HopeFiveYears,JobSearchStatus,LastNewJob,LanguageWorkedWith,IDE,OperatingSystem,term,loan_status,purpose,title,addr_state,dti,earliest_cr_line,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,previousaddress,CrimeTime,Posting_Date,Posting_Date_year,last_pymnt_month,earliest_cr_line_month,last_credit_pull_month
0,42405.0,0,3600.0,Account Manager,CONTRACT REVIEWER (OFFICE OF L,Strategy & Analytics,Division of Economic & Financial Opportunity (...,1.\tA baccalaureate degree from an accredited ...,â€¢\tExcellent interpersonal and organizationa...,missing,New York City residency is generally required ...,2011-06-24,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,99,Full-stack developer,3.0,Working as a founder or co-founder of my own c...,"I’m not actively looking, but I am open to new...",Less than a year ago,JavaScript;Python;HTML;CSS,Komodo;Vim;Visual Studio Code,Linux-based,36,Fully Paid,debt_consolidation,Debt consolidation,PA,5.91,3-Aug,19-Jan,122.67,19-Mar,1045 San Pablo Ave,23:30:00,2011-06-24,6.0,Jan,Aug,Mar

### Handling Categorical variable

* Data Encoding is used to converting the categorical variable to binary or numerical value.
* here we are using 'one hot encoding' to convert the categorical data into binary format.

In [299]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [300]:
dataset.loc[:,['Business Title','Civil Service Title','Division/Work Unit','Job Description','Minimum Qual Requirements','Preferred Skills',
            'To Apply','Residency Requirement','FormalEducation','UndergradMajor','DevType', 'HopeFiveYears','JobSearchStatus','LastNewJob',
            'LanguageWorkedWith','IDE','OperatingSystem','loan_status','purpose','title','addr_state','dti','last_pymnt_month',
            'earliest_cr_line_month','last_credit_pull_month','previousaddress']] =dataset.loc[:,['Business Title','Civil Service Title','Division/Work Unit','Job Description',
                                                                            'Minimum Qual Requirements', 'Preferred Skills','To Apply', 
                                                                            'Residency Requirement', 'FormalEducation','UndergradMajor','DevType', 'HopeFiveYears',
                                                                           'JobSearchStatus','LastNewJob','LanguageWorkedWith','IDE','OperatingSystem','loan_status',
                                                                             'purpose','title','addr_state','dti','last_pymnt_month','earliest_cr_line_month',
                                                                             'last_credit_pull_month','previousaddress']].apply(encoder.fit_transform)

### Data Modeling

In [301]:
dataset.drop(['Posting Date','earliest_cr_line','last_pymnt_d','last_credit_pull_d','CrimeTime', 'Posting_Date'],axis=1,inplace=True)
dataset.head(2)

,Target_Salary,Target_Satisfied,LOAN_AMT,Business Title,Civil Service Title,Division/Work Unit,Job Description,Minimum Qual Requirements,Preferred Skills,To Apply,Residency Requirement,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,HopeFiveYears,JobSearchStatus,LastNewJob,LanguageWorkedWith,IDE,OperatingSystem,term,loan_status,purpose,title,addr_state,dti,last_pymnt_amnt,previousaddress,Posting_Date_year,last_pymnt_month,earliest_cr_line_month,last_credit_pull_month
0,42405.0,0,3600.0,37,143,603,180,14,965,891,25,1,10,99,783,3.0,2,2,3,1444,692,1,36,2,2,3,36,127,122.67,1,6.0,4,36,7
1,60740.0,1,24700.0,610,14,616,1289,91,828,566,25,1,3,1000,645,30.0,6,0,4,1443,583,1,36,2,10,0,39,720,926.35,1,1.0,6,34,7

In [302]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import mean_squared_error
from sklearn.metrics import confusion_matrix, accuracy_score, r2_score
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import RandomForestRegressor

In [303]:
X = dataset.iloc[:, 2:]
y1 = dataset['Target_Salary']
y2 = dataset['Target_Satisfied']

In [304]:
X_train, X_test, y_train, y_test = train_test_split(X, y1, test_size=0.20, random_state=42)
X2_train, X2_test, y2_train, y2_test = train_test_split(X, y2, test_size=0.20, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2356, 32), (590, 32), (2356,), (590,))

##### using RandomForestClassifier we are going to classifing the Target_Satisfied

In [337]:
model = RandomForestClassifier(n_estimators=200, max_depth= 4, min_samples_split=7, min_samples_leaf = 1, random_state = 1)

### SMOTE

* using somte technique we are going to balance the imbalance the data

In [338]:
from imblearn.over_sampling import SMOTE
from collections import Counter
counter = Counter(y2_train)
print('before smote: ',counter)
smote = SMOTE(k_neighbors=5)
X_smote, y_smote = smote.fit_resample(X2_train, y2_train.ravel())
counter = Counter(y_smote)
print('after smote: ',counter)

before smote:  Counter({0: 1849, 1: 507})
after smote:  Counter({0: 1849, 1: 1849})

In [339]:
model = model.fit(X_smote, y_smote)

In [340]:
predict_train = model.predict(X2_train)
predict_test = model.predict(X2_test)
print(classification_report(y2_test, predict_test))

              precision    recall  f1-score   support

           0       0.83      0.79      0.81       478
           1       0.26      0.31      0.28       112

    accuracy                           0.70       590
   macro avg       0.54      0.55      0.55       590
weighted avg       0.72      0.70      0.71       590

In [341]:
confusion_matrix(y2_test, predict_test)

array([[377, 101],
       [ 77,  35]], dtype=int64)

In [342]:
accuracy_score(y2_test, predict_test)

0.6983050847457627

#### using RandomForestRegressor we are going predict the Target_Salary of the employees

In [329]:
model1 = RandomForestRegressor()
modelfit = model1.fit(X_train,y_train)
modelfit

RandomForestRegressor()

In [330]:
prediction = modelfit.predict(X_test)
np.sqrt(mean_squared_error(y_test,prediction))

13355.198504434848

In [331]:
r2_score(y_test,prediction)

0.7191035258553704